extends layout

block content
  h1 Uh, oh! Looks like you've reached the #[a(style={color: 'red'}) ERROR] page!
  h4 Here are some links to help you!
  br

  p Need the login page? Here it is!  **Put login link here**

    br

  p Or do you need the register page? Well here's the link! **Put Register link here**

  p Not sure what to do? Here are some cats!
  div.thumbnail
     img(src= "../public/images/cats.gif")