<div class="jumbotron text-center">
    <h1>User Management</h1>

    <p>{{ tagline }}</p>

    <form name="registerUserForm" ng-submit="createUser(user)">
      <input type="text" placeholder="First Name" ng-model="user.firstName">
      <input type="text" placeholder="Last Name" ng-model="user.lastName">
      <input type="email" placeholder="Email" ng-model="user.email">
      <input type="text" placeholder="Username" ng-model="user.username">
      <input type="password" placeholder="Password" ng-model="user.password">
      <input type="submit" id="submit" value="Sign up!" />
    </form>

    <p>{{ output }}</p>
</div>
