<head>

      <!-- CSS -->
   <link rel="stylesheet" href="../../js/libs/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="../../css/style.css">

</head>

<body>

  <div>
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #59b68e">
      <form class="form-inline mr-auto">
		<img src="rumi logo.png" alt="logo" style="width:60px;">
      </form>
      <form class="form-inline ml-auto" action="/action_page.php">
        <a href="/login" class="btn mx-2" id="whiteButton">Login</a>
      </form>
    </nav>
  </div>

  <div class="container-fluid">
	  <div class="row">

		<div class="col" id="whitebackground">
			<img src="rumi logo.png" style="height:400px">
		</div>

		<div class="col text-center" id="whitebackground">
		Sodium, atomic number 11, was first isolated by Humphry Davy in 1807. A chemical component of salt, he named it Na in honor of the saltiest region on earth, North America.
		</div>

	</div>
  </div>


<body>
