

<body>
  <!-- idk how to add the top nav bar here, so this is just temporary  -->
  <div ng-include="'/views/navbar.html'"></div>

  <!-- side bar -->
  <div class="sidenav">
      <a href="/dashboard">Dashboard</a>
      <a href="/friends">Friends</a>
      <a href="/transactions">Transactions</a>
      <a href="/receipts">Receipts</a>
      <a href="/setting">Setting</a>
      <a href="/download">Download</a>
  </div>

  <!-- content for dash board -->
  <div class="main">
    <p>Dashboard here !!</p>
  </div>


</body>

